@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Pruebas Selección";
}
@using GestionPruebas.Web.Models.Dto;
@using X.PagedList;
@model X.PagedList.IPagedList<GestionPruebas.Web.Models.Dto.PruebaSeleccionDto>

<div class="wrapper_st">
    <div class="wrapper">
        <h1>Pruebas de Selección</h1>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
</div>

<div class="wrapper_st">
    <div class="wrapper">
        <a asp-action="Crear">Crear Nueva Prueba</a>
    </div>
</div>

<div class="wrapper_st">
    <div class="wrapper">
        <table class="tabla-responsive">
            <thead>
                <tr>
                    <th>Nombre Prueba</th>
                    <th>Tipo Prueba</th>
                    <th>Lenguaje</th>
                    <th>Cantidad Preguntas</th>
                    <th>Nivel</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NombreDescripcion</td>
                            <td>@item.TipoPrueba</td>
                            <td>@item.LenguajeProgramacion</td>
                            <td>@item.CantidadPreguntas</td>
                            <td>@item.Nivel</td>
                            <td> <a asp-action="Editar" asp-route-id="@item.Id">Editar</a></td>
                            <td> <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar esta prueba de selección?')">Eliminar</a></td>
                            <td></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No hay resultados disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    var elementosNum = document.querySelectorAll('.num');

    function agregarSeparadorDeMiles(numero) {
        return numero.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    elementosNum.forEach(function (elemento) {
        var numeroSinSeparador = parseInt(elemento.textContent, 10);
        elemento.textContent = agregarSeparadorDeMiles(numeroSinSeparador);
    });

</script>
