@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Aspirantes";
}
@using GestionPruebas.Web.Models.Dto;
@using X.PagedList;
@model X.PagedList.IPagedList<GestionPruebas.Web.Models.Dto.AspiranteDto>

<div class="wrapper_st">
    <div class="wrapper">
        <h1>Aspirantes</h1>
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>
</div>
<div class="wrapper_st">
    <div class="wrapper">
        <a asp-action="DescargarAspirantes">Descargar Información de Aspirantes</a>
    </div>
    <div class="wrapper">
        <a asp-action="Crear">Crear Nuevo Aspirante</a>
    </div>
</div>

<div class="wrapper_st">
    <div class="wrapper">
        <table class="tabla-responsive">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Editar</th>
                    <th>Asignar Prueba</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NumeroDocumento</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Telefono</td>
                            <td> <a asp-action="Editar" asp-route-id="@item.Id">Editar</a></td>
                            <td> <a asp-action="ListAsignacionPrueba" asp-route-id="@item.Id">Asignar</a></td>
                            <td> <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar a este aspirante?')">Eliminar</a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No hay resultados disponibles.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

